body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:300px;
}

input{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:10px;
}

small{
color:red;
font-size:12px;
}

.password-box{
display:flex;
}

.password-box input{
flex:1;
}

.password-box button{
margin-left:5px;
}

.strength{
height:5px;
background:#ddd;
margin-bottom:10px;
}

#strengthBar{
height:5px;
width:0%;
background:red;
}